# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Problems/Avoid NPE/out/
/Problems/Avoid NPE/out/production/classes/
/Problems/Boxes/out/
/Problems/Boxes/out/production/classes/
/Problems/Calculate Square/out/
/Problems/Calculate Square/out/production/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/Calculator with four methods/out/
/Problems/Calculator with four methods/out/production/classes/
/Problems/Create a full name/out/
/Problems/Create a full name/out/production/classes/
/Problems/Hiring a chef/out/
/Problems/Hiring a chef/out/production/classes/
/Problems/Is between/out/
/Problems/Is between/out/production/classes/
/Problems/Maximum element in a matrix/out/
/Problems/Maximum element in a matrix/out/production/classes/
/Problems/Size of parts/out/
/Problems/Size of parts/out/production/classes/
/Problems/Spiral/out/
/Problems/Spiral/out/production/classes/
/Problems/The sign of a number/out/
/Problems/The sign of a number/out/production/classes/
/Problems/The sum of digits/out/
/Problems/The sum of digits/out/production/classes/